@use "./variables" as *;

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: bold;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background-color: $color-grey-button;
    
}

button:hover {
    opacity: 50%;
}

.divide,
.times,
.minus,
.plus,
.equal {
    background-color: $color-orange-button;
}

// Media Screens to make it viewable

@media screen and (min-width:$tablet-breakpoint){
 
    body {
        .calculator-container {
            width: 50vw;
            height: 70vh;
        }
    }
}

@media screen and (min-width:$desktop-breakpoint){
 
    body {
        .calculator-container {
            width: 50vw;
            height: 70vh;
        }
    }
}




